# --- Ignorar Dependencias (Lo más pesado) ---
node_modules
backendnode_modules
ai-servicevenv
ai-service__pycache__
.expo

# --- Ignorar Secretos (Lo más peligroso) ---
.env
.env.local
backend.env
.pem

# --- Ignorar Archivos de Sistema y Compilación ---
.DS_Store
dist
build
coverage
.vscode
.idea